@import '@/styles/_base.scss';

.wrapper {
  background: $WHITE;
  color: $WHITE;
  margin-top: 10px;
  .checkPrice {
    .content {
      width: 100%;
      .step5 {
        background: $WHITE;
        color: $WHITE;
        width: 100%;
        border-radius: 12px;
      
        :global {
          .ant-card-head {
            background-color: #e7eeff;
            border: 1px solid;
            .ant-card-head-title {
              color: $GREY_COLOR_HOVER;
              font-weight: 700;
              font-size: 22px;
            }
          }
          .ant-card-body {
            border: 1px solid;
          }
        }
        .container {
          padding: 16px;
          .cardMain {
            .cardCustomer {
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
    }
  }
}
