@import '@/styles/variable.scss';

// .container {
//   position: relative;
//   overflow: hidden;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background: linear-gradient(126.4deg, rgba(129, 240, 182, 0.801) 42.86%, #C2F0D9 62.61%, rgb(255, 255, 255) 90.66%, rgb(255, 255, 255) 100%);
// }
// .content {
//   max-width: 900px;
//   width: 80%;
//   height: 80%;
//   background-color: $white;
//   overflow: hidden;
//   border-radius: 5px;
//   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.265) 0px 3px 6px;
// }

// .cover{
//   position: relative;
//   display: flex;
//   justify-content: start;
//   align-items: center;
//   height: 100%;
// }

// .cover .left{
//   padding-left: 5%;
//   z-index: 1;
//   display: flex;
//   flex-direction: column;
//   gap: 15px;
// }

// .cover .right{
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: -15%;
//   background: rgba(0, 166, 80, 0.543);
//   width: 620px;
//   height: 1100px;
//   transform: skew(-20deg);
// }

// .img__cover__print{
//   margin-top: 12%;
//   margin-left: 8%;
//   display: flex;
//   align-items: center;
//   height: 500px;
//   transform: skew(20deg);
// }

// .circles {
//   position: absolute;
//   top: 2%;
//   left: 12%;
//   width: 1050px;
// }

// .circlesBottom {
//   position: absolute;
//   bottom: 0;
//   width: 900px;
// }

.bodyContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #4481eb, #04befe);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
  }

  .formsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .signinSignup {
      position: absolute;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
      width: 50%;
      display: grid;
      grid-template-columns: 1fr;
      z-index: 5;
      transition: 1s 0.7s ease-in-out;

      .signinForm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 5rem;
        overflow: hidden;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        transition: 0.2s 0.7s ease-in-out;
        z-index: 2;

        .titleSignIn {
          font-size: 2.2rem;
          color: #444;
          margin-bottom: 10px;
        }

        .inputField {
          max-width: 380px;
          width: 100%;
          height: 55px;
          background-color: #f0f0f0;
          margin: 10px 0;
          border-radius: 55px;
          display: grid;
          grid-template-columns: 15% 70% 15%;
          padding: 0 0.4rem;

          .signinMailIcon,
          .signinLockIcon,
          .signinEmailIconCheck,
          .signinEmailIconError {
            line-height: 55px;
            color: #acacac;
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .signinEmailInput,
          .signinPasswordInput {
            background: none;
            outline: none;
            border: none;
            line-height: 1;
            font-weight: 600;
            font-size: 1.3rem;
            color: #333;
            height: 55px;

            &::placeholder {
              color: #aaa;
              font-weight: 500;
            }

            input {
              background: none;
            }
          }

          .signinEmailIconCheck,
          .signinPasswordIconCheck {
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 55px;
            color: green;
            font-size: 1.8rem;
            display: none;
          }

          .signinEmailIconError,
          .signinPasswordIconError {
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 55px;
            color: red;
            font-size: 1.8rem;
            display: none;
          }
        }

        .message {
          display: flex;
          align-items: center;
          justify-content: start;
          width: 52%;
          color: red;
          font-size: 16px;
        }

        .loginOptions {
          display: flex;
          align-items: center;
          justify-content: end;
          width: 55%;
          margin: 10px 0 10px 0;

          .forgotFieldLink {
            text-decoration: none;
            color: #303134;
          }
        }

        .btnLogin {
          width: 150px;
          height: 49px;
          border: none;
          outline: none;
          border-radius: 50px;
          cursor: pointer;
          background-color: #5995fd;
          color: #fff;
          text-transform: uppercase;
          font-weight: 600;
          margin: 10px 0;
          transition: .5s;

          &:hover {
            background-color: #4d84e2;
          }
        }
      }

      .signupForm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 5rem;
        overflow: hidden;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        transition: 0.2s 0.7s ease-in-out;
        z-index: 1;
        opacity: 0;

        .titleSignup {
          font-size: 2.2rem;
          color: #444;
          margin-bottom: 10px;
        }
      }
    }
  }

  .panelsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .leftPanel {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      text-align: center;
      z-index: 7;
      pointer-events: all;
      padding: 3rem 17% 2rem 12%;

      .content {
        color: #fff;
        transition: .9s .6s ease-in-out;

        h3 {
          font-weight: 600;
          line-height: 1;
          font-size: 1.5rem;
        }

        p {
          font-size: 0.95rem;
          padding: 0.7rem 0;
        }

        .btnPanelSignUp {
          outline: none;
          border-radius: 50px;
          cursor: pointer;
          color: #fff;
          text-transform: uppercase;
          transition: .5s;
          margin: 0;
          background: none;
          border: 2px solid #fff;
          width: 130px;
          height: 41px;
          font-weight: 600;
          font-size: 0.8rem;
        }
      }
    }

    .rightPanel {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      text-align: center;
      z-index: 7;
      pointer-events: none;
      padding: 3rem 12% 2rem 17%;
    }
  }
}