.sidebarContainer {
  // height: calc(100vh - 64px);
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 16px 0 18px;
    font-size: 16px;
    width: 100%;
    // white-space: nowrap;
    svg {
      font-size: 16px;
      min-width: 24px;
      cursor: pointer;
    }
  }

  .antMenu {
    height: 76vh;
  }
}

@media only screen and (min-height: 1001px) and (max-height: 2000px) {
  .antMenu {
    height: 84vh !important;
  }
}

@media only screen and (min-height: 851px) and (max-height: 1000px) {
  .antMenu {
    height: 80vh !important;
  }
}

@media only screen and (min-height: 722px) and (max-height: 850px) {
  .antMenu {
    height: 75vh !important;
  }
}

@media only screen and (min-height: 500px) and (max-height: 720px) {
  .antMenu {
    height: 70vh !important;
  }
}

@media only screen and (min-height: 420px) and (max-height: 499px) {
  .antMenu {
    height: 60vh !important;
  }
}

@media only screen and (min-height: 340px) and (max-height: 419px) {
  .antMenu {
    height: 55vh !important;
  }
}

@media only screen and (min-height: 270px) and (max-height: 339px) {
  .antMenu {
    height: 40vh !important;
  }
}

@media only screen and (min-height: 225px) and (max-height: 269px) {
  .antMenu {
    height: 30vh !important;
  }
}