
$WHITE: #FFFFFF;
$BLACK: #000000;
$RED: #E60023;
$BG_PRIMARY: #17192D;
$BG_SECONDARY: #0A1629;
$BG_OUTSIDE_BTN: #CAD7EE;
$PRIMARY: #0300A6;
$PRIMARY_DARK: #03375e;

$GREY_COLOR: #858585;
$GREY_BACKGROUND: #E4EBF9;
$GREY_COLOR_HOVER: #1D4486;

$DISABLED: #8E8E8E;


$BLUE_BELL: #7090B0;
// $JET_GREY: #616887;
// $ALGAE: #52B16F;
$SUNSET_ORANGE: #FF5757;
$EBONY: #020202;
// $CADMIUM_ORANGE: #FE842B;
// $SAFFRON_MANGO: #FFC657;
// $DARK: #1D1C32;
// $ELECTRIC_PURPLE: #B02BFE;
// $MULLED_WINE: #494762;
// $METALIC_GOLD_COLOR: #C8B285;
// $RICH_BLACK: #090E19;
// $MEDIUM_AQUAMARINE: #63DAAB;
// $CORNFLOWER_BLUE: #6495f9;
// $ALMOST_BLACK: #050A0F;
// $EBONY_CLAY: #0D2347;
// $MIRAGE: #0E1829;
// $RIVER_BED: #475164;
// $CINDER: #09081A;

// $SOFT_BLUE: #EBEFF4;
// $MUTED: #293B59;
// $JADE_WHITE: #F7F9F9;
// $DARK_BLUE: #040B17;

// $BLACK_PEARL: #040B17;
// $JAGUAR: #040B17;

// update color => remember update COLORS in constants