.table {
  :global {
    .ant-table-sticky-scroll {
      display: none;
    }
    .ant-table-column-title, th.ant-table-cell {
      text-transform: uppercase;
    }
    td.ant-table-cell:hover{
      cursor: pointer;
    }
  }
}
