$bg: #232A3D;
$c: #00A651;
$n: #FF4C13;
$d: 55px;
$t: 2.2s;

.notification {
    position: relative;
    width: $d;
    height: 64px;

    svg {
        width: $d;
        height: 64px;

        >path {
            fill: $c;
        }
    }

    .notificationBell {
        animation: bell $t linear infinite;
        transform-origin: 50% 0%;
    }

    .notificationBellClapper {
        animation: bellClapper $t .1s linear infinite;
    }

    .notificationNumber {
        position: absolute;
        top: 14px;
        left: 48%;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $n;
        border: 4px solid $n;
        color: $c;
        text-align: center;
        animation: notification $t linear;
    }
}

@keyframes bell {

    0%,
    25%,
    75%,
    100% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(10deg);
    }

    45% {
        transform: rotate(-10deg);
    }

    55% {
        transform: rotate(8deg);
    }

    60% {
        transform: rotate(-8deg);
    }
}

@keyframes bellClapper {

    0%,
    25%,
    75%,
    100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-.15em);
    }

    45% {
        transform: translateX(.15em);
    }

    55% {
        transform: translateX(-.1em);
    }

    60% {
        transform: translateX(.1em);
    }
}

@keyframes notification {

    0%,
    25%,
    75%,
    100% {
        opacity: 1;
    }

    30%,
    70% {
        opacity: 0;
    }
}

// Dropdown Language
.selectMenu {
    position: relative;

    .selectBtn {
        display: flex;
        height: 40px;
        background: #fff;
        padding: 12px;
        font-size: 15px;
        font-weight: 400;
        border-radius: 8px;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;

        .layoutChooseImage {
            margin-right: 10px;

            img {
                margin-right: 10px;
            }

            span {
                font-weight: 500;
            }
        }

        &:hover {
            .selectBtnIcon {
                color: #43b758;
            }
        }

        .selectBtnIcon {
            font-size: 25px;
            transition: all 0.3s ease-in-out;
            color: #BFBFBF;
        }
    }

    .options {
        position: absolute;
        padding: 10px;
        margin-top: 10px;
        border-radius: 8px;
        background: #fff;
        display: none;
        right: 0;
        -webkit-box-shadow: 4px 4px 10px -1px #43b758;
        -moz-box-shadow: 4px 4px 10px -1px #43b758;
        box-shadow: 4px 4px 10px -1px #43b758;
    }

    &.active {
        .selectBtn {
            -webkit-box-shadow: 4px 4px 10px -1px #43b758;
            -moz-box-shadow: 4px 4px 10px -1px #43b758;
            box-shadow: 4px 4px 10px -1px #43b758;

            .selectBtnIcon {
                transform: rotate(-180deg);
            }
        }

        .options {
            display: block;

            .option {
                display: flex;
                height: 55px;
                cursor: pointer;
                padding: 0 16px;
                border-radius: 8px;
                align-items: center;
                background: #fff;

                &:hover {
                    background: #F2F2F2;

                    .optionText {
                        color: #43b758;
                    }
                }

                .optionText {
                    color: #333;
                    margin-left: 10px;
                    font-weight: 500;
                }
            }
        }
    }
}

// Dropdown Avatar Menu
.userAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userMenu {
    position: absolute;
    top: 145px;
    right: 20px;
    padding: 10px 20px;
    width: 200px;
    background: #fff;
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 4px 4px 10px -1px #43b758;
    -moz-box-shadow: 4px 4px 10px -1px #43b758;
    box-shadow: 4px 4px 10px -1px #43b758;

    ul {
        padding-left: 0;
        margin-bottom: unset;

        li {
            padding: 10px 0;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            display: flex;
            align-items: center;

            &:first-child {
                border-top: none;
            }

            svg {
                font-size: 20px;
            }

            &:hover {
                .userMenuButton {
                    color: #43b758;
                }
            }

            .userMenuButton {
                color: #555;
                font-weight: 500;
                transition: all 0.1s ease-in-out;
                font-size: 15px;
                border: unset;
                width: 100%;
                background: transparent;
                box-shadow: unset;
                display: flex;
                align-items: center;
            }
        }
    }

    &.active {
        top: 70px;
        visibility: visible;
        opacity: 1;
    }

    &::before {
        content: '';
        position: absolute;
        top: -5px;
        right: 28px;
        width: 20px;
        height: 20px;
        background: #fff;
        transform: rotate(45deg);
    }
}